body{
    background-color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
}
h1{
    color: rgb(116, 30, 30); background:; opacity: 1;
}
#para{
    font-size: small;
    text-align: center;
}
#skill{
    margin-left: 70%;
    margin-top: -10%
}
.me{
    margin-left: 70%;
    margin-top: -10%
}
#aboutme{
    text-align: center;
}
.name{
    text-align: center;
}
#experience{
    margin-top: 
}

